[install]
language=${INSTALL_LANG}
install_mode=standard
hostname=${FQDN}
mysql_hostname=${DB_HOST}
mysql_port=${DB_PORT}
mysql_root_user=${DB_ROOT_USER}
mysql_root_password=${DB_ROOT_PASSWORD}
mysql_database=${DB_NAME}
mysql_charset=utf8mb4
http_server=nginx
ispconfig_port=8080
ispconfig_use_ssl=y

[ssl_cert]
ssl_cert_country=${SSL_COUNTRY:-TR}
ssl_cert_state=${SSL_STATE:-Istanbul}
ssl_cert_locality=${SSL_LOCALITY:-Istanbul}
ssl_cert_organisation=${SSL_ORG:-Your Company}
ssl_cert_organisation_unit=${SSL_OU:-IT}
ssl_cert_common_name=${FQDN}

[expert]
mysql_ispconfig_user=${ISPCONFIG_DB_USER}
mysql_ispconfig_password=${ISPCONFIG_DB_PASS}
join_multiserver_setup=n
configure_mail=y
configure_jailkit=y
configure_ftp=y
configure_dns=y
configure_nginx=y
configure_firewall=y
install_ispconfig_web_interface=y

[update]
do_backup=yes
reconfigure_services=yes
reconfigure_crontab=yes
create_new_ispconfig_ssl_cert=no
